body {
	background: #ffd1d1;
}

#add-new, #go-back {
	position: absolute;
	font-size: 4rem;
	color: white;
	font-weight: bold;
}

#add-new {
	top: -32px;
	right: 0;

	&:hover {
	color: #eda09a;
	cursor: pointer;
}
}

#go-back {
	top: -42px;
	right: 10px;

	&:hover {
	color: #eda09a;
	cursor: pointer;
}
}

.row {
	margin-top: 10px;
}

.remove {
	font-size: 11px;

	&:hover {
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}
}

.container {
	display: inline-block;
}

.add-new-form {
	margin: 30px;
	max-width: 150px;
}

input {
	margin: 5px;
}

img {
	width: 16px;
	cursor: pointer;
}

.body-wrapper {
	width: auto;
	text-align:center;
	margin: 50px;

	.identity-container {
	margin: 20px;
	text-align: center;
	display: inline-block;

}
}